<header>
  <div class="container">

    <div class="top_header">
      <div class="left">
        <a href="#"><img src="images/cart.svg" alt="cart"></a>
        <div class="numbers">
          <a href="#">3</a></div>
      </div>
      <div class="center">
        <a href="#"><img src="images/Logo.svg" alt="logo"></a>
      </div>
      <div class="right">
        <a href="#"><img src="images/search.svg" alt="search"></a>
      </div>
    </div>

    <div class="bottom_header">
      <ul>
        <li><a href="">women</a>
          <%= partial "partials/drop_down_menu"%>
        </li>
        <li><a href="">men</a>
          <%= partial "partials/drop_down_menu"%>
        </li>
        <li><a href="">brands</a>
          <%= partial "partials/drop_down_menu"%>
        </li>
        <li><a href="">collection</a>
          <%= partial "partials/drop_down_menu"%>
        </li>
        <li><a href="">limited</a>
          <%= partial "partials/drop_down_menu"%>
        </li>
        <li><a href="">deals</a>
          <%= partial "partials/drop_down_menu"%>
        </li>
      </ul>
    </div>

  </div>

</header>
